
iOS/Food-Doods-Prototype/Food-Doods-Prototype.xcodeproj/project.xcworkspace/xcuserdata/wrenliang.xcuserdatad/UserInterfaceState.xcuserstate
iOS/Food-Doods-Prototype/.DS_Store
.DS_Store
iOS/.DS_Store

# General
node_modules/
dist/
**/config/*.env

# Docker
db/data